
div.personaje {
    padding: 10px;
    width: 300px;
    border: 2px solid blue;
    background-color: beige;
    margin:10px;
    display: inline-block;
}

div.personaje div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}