

div.cabecera {
    height: 120px;
    background-color: aquamarine;
}

div.lateral {
    height: 500px;
    background-color: bisque;
}

div.contenido {
    height: 500px;
    background-color: grey;
}